.nav-tabs li .active,
.nav-tabs li.active {
  color: #5b73e8 !important;
  border-color: #5b73e8 !important;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.nav-tabs.title li a {
  padding: 1.25rem 0.9375rem; /* 20px to rem and 15px to rem */
}
.nav li,
.nav li a {
  position: relative;
  display: block;
}

a {
  color: #5b73e8;
}

.mc-interactive-balloon {
  position: absolute;
  right: -3.125rem; /* -50px to rem */
  bottom: 0.5rem; /* 8px to rem */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0.625rem; /* 10px to rem */
  height: 2.5rem; /* 40px to rem */
  width: 2.5rem; /* 40px to rem */
  background: #1671ee;
  border-radius: 1.25rem; /* 20px to rem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-collapsed {
  width: 3.75rem; /* 60px to rem */
}

.menu-text.d-none {
  display: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
  transition: height 0.2s ease;
}

.wrapper.active .signin-form {
  transition: none;
  translate: -25rem; /* -400px to rem */
}
element.style {
  height: 41.4375rem; /* 655px to rem */
  position: relative;
  overflow-y: scroll;
}
*,
::after,
::before {
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.form-control {
  background-color: #1c1f26 !important;
  color: #898fa9 !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.375rem; /* 6px to rem */
}
::-webkit-scrollbar-button {
  width: 0rem; /* 0px to rem */
  height: 0rem; /* 0px to rem */
}
::-webkit-scrollbar-thumb {
  background: #566076;
}
::-webkit-scrollbar-thumb {
  background: #c6ccd2;
  border-radius: 0.375rem; /* 6px to rem */
}
.navbar-custom {
  background: #252932;
  box-shadow: 0.0625rem 0.3125rem 0.375rem rgba(0, 0, 0, 0.09) !important; /* 1px 5px 6px to rem */
}

html,
body,
td,
tr,
tbody {
  background-color: #1c1f26 !important;
  color: #898fa9 !important;
  background-color: #eef1f9;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.84375rem; /* 13.5px to rem */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  overflow-x: hidden;
}

/* Couleur des placeholders */
::placeholder {
  color: #898fa9 !important;
}

/* Couleur du texte dans tous les div */

*,
::after,
::before {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}

*,
::after,
::before {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.375rem; /* 6px to rem */
}
::-webkit-scrollbar-button {
  width: 0rem; /* 0px to rem */
  height: 0rem; /* 0px to rem */
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5468;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8bfc7;
}
::-webkit-scrollbar-thumb {
  background: #566076;
}
::-webkit-scrollbar-thumb {
  background: #c6ccd2;
  border-radius: 0.375rem; /* 6px to rem */
}

#left-menu-toggle-mask {
  background-color: #1c1f26;
}

#invoice-overview-widget-container .card {
  color: #898fa9 !important;
}
.filter-section-container {
  background-color: #252932 !important;

  padding: 0.625rem 0.9375rem; /* 10px to rem and 15px to rem */
}

.card {
  border: none !important;
  margin-bottom: 1.25rem; /* 20px to rem */
  transition: all 1s;
}

#invoice-overview-widget-container .card-body {
  color: #898fa9 !important;
}
#invoice-overview-widget-container a.text-default {
  color: #898fa9 !important;
}

/* Cible tous les liens à l'intérieur du conteneur */

/* Cible tous les divs à l'intérieur des liens */
a.text-default > div {
  padding-bottom: 0.625rem; /* 10px to rem */
}
/* Appliquer la couleur aux textes spécifiques */
.text-default {
  color: #898fa9 !important; /* Applique la couleur #898fa9 uniquement aux textes spécifiques */
}

/* Garde les couleurs spécifiques pour les nombres à droite */
.text-default .strong {
  color: inherit; /* Inherit de la couleur du texte parent */
}

/* Cible les cercles de couleur */

/* Cible les spans à l'intérieur des divs */
.col-md-6.pl20.pt-4 a.text-default .strong table#client-table tbody td {
  color: inherit !important; /* Utilise la même couleur que le lien parent */
}

/* Cible les cercles de couleur */
.col-md-6.pl20.pt-4 .color-tag {
  border-color: #ffffff; /* Exemple de changement de couleur de bordure */
  /* Autres styles si nécessaire */
}

/* Cible les span à l'intérieur des divs */
.col-md-6.pl20.pt-4 a.text-default .strong {
  color: inherit !important; /* Utilise la même couleur que le lien parent */
}

.bg-white {
  background-color: #252932 !important;
}
.nav-tabs {
  background: #252932;
  border-color: #2f3541 !important;
}

.container {
  max-width: 50rem; /* 800px to rem */
  margin: 1.25rem auto; /* 20px to rem */
  padding: 1.25rem; /* 20px to rem */
  background: #fff;
  border-radius: 0.5rem; /* 8px to rem */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px to rem */
}
h1,
h2,
h3 {
  color: #333;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.section {
  margin-bottom: 1.25rem; /* 20px to rem */
}
.section p {
  margin: 0 0 0.625rem; /* 10px to rem */
}
/* Option pour la couleur de fond de chaque cellule */

/* Bordure pour les labels */
.label-satisfied,
.label-unsatisfied,
.label-active,
.label-inactive {
  display: inline-block;
  padding: 0.3125rem; /* 5px to rem */
  border-radius: 0.3125rem; /* 5px to rem */
  color: #fff; /* Couleur du texte pour les labels */
}

/* Exemple de couleurs de bordure pour chaque label */
.label-satisfied {
  border: 0.125rem solid #007bff; /* 2px to rem */
  background-color: #007bff;
}
.label-unsatisfied {
  border: 0.125rem solid #dc3545; /* 2px to rem */
  background-color: #dc3545;
}
.label-active {
  border: 0.125rem solid #28a745; /* 2px to rem */
  background-color: #28a745;
}
.label-inactive {
  border: 0.125rem solid #6c757d; /* 2px to rem */
  background-color: #6c757d;
}

.filter-section-container {
  padding: 0.625rem 0.9375rem; /* 10px to rem and 15px to rem */
}
html,
body {
  background-color: #1c1f26 !important;
  color: #898fa9 !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.card .card-header {
  background-color: #252932 !important;
  border-color: #2f3541 !important;
  color: #898fa9;
}

.bg-white {
  background-color: #252932 !important;
}

.card {
  border: none;
}

a {
  text-decoration: none !important;
}

.form-group {
  margin-bottom: 0.9375rem; /* 15px to rem */
}

.form-label {
  display: block;
  margin-bottom: 0.3125rem; /* 5px to rem */
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.w-48 {
  width: 48%;
}

.me-2 {
  margin-right: 0.625rem; /* 10px to rem */
}

.ms-2 {
  margin-left: 0.625rem; /* 10px to rem */
}

.mt5 {
  margin-top: 0.3125rem; /* 5px to rem */
}

.mt20 {
  margin-top: 1.25rem; /* 20px to rem */
}

/* Style de base pour le conteneur de react-select */
.react-select__control {
  background-color: #1c1f26 !important; /* Même fond que les autres div */
  border: 0.0625rem solid #2f3541 !important; /* Bordure similaire aux autres éléments */
  color: #898fa9 !important; /* Couleur du texte */
}

/* Texte des options de la liste */
.react-select__menu {
  background-color: #1c1f26 !important; /* Même fond pour les options */
  color: #898fa9 !important; /* Couleur du texte des options */
}

/* Couleur de la sélection active */
.react-select__option--is-selected {
  background-color: #2f3541 !important; /* Fond de l'option sélectionnée */
  color: #ffffff !important; /* Couleur du texte de l'option sélectionnée */
}

/* Couleur au survol des options */
.react-select__option--is-focused {
  background-color: #252932 !important; /* Fond de l'option au survol */
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding-right: 1.875rem; /* 30px to rem */
  background-color: #1c1f26;
  color: #898fa9;
}

.select-container::after {
  content: "▼";
  position: absolute;
  right: 0.625rem; /* 10px to rem */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #898fa9;
  font-size: 0.75rem; /* 12px to rem */
}

.deadline-red {
  color: rgb(183, 50, 50) !important;
}

.title-blue,
.project-blue {
  color: rgba(40, 40, 196, 0.927) !important;
}

.bold-text {
  font-weight: bold !important;
}

.w50 {
  width: 3.125rem; /* 50px to rem */
}

.w100 {
  width: 6.25rem; /* 100px to rem */
}

.text-center {
  text-align: center;
}

button.edit {
  background: none;
  border: 0.125rem solid green; /* Bordure verte pour "edit" */
  border-radius: 50%;
  padding: 0.3125rem; /* 5px to rem */
  cursor: pointer;
}

button.edit svg {
  color: white; /* Couleur blanche pour l'icône */
}

button.edit:hover {
  border-color: green; /* Conserve la bordure verte même au survol */
  background: black; /* Pas de changement de fond au survol */
}

button.delete {
  background: none;
  border: 0.125rem solid red; /* Bordure rouge pour "delete" */
  border-radius: 50%;
  padding: 0.3125rem; /* 5px to rem */
  cursor: pointer;
}

button.delete svg {
  color: white; /* Couleur blanche pour l'icône */
}

button:hover {
  border-color: red; /* Conserve la bordure rouge même au survol */
  background: black; /* Pas de changement de fond au survol */
}

.float-start {
  margin: 0; /* Remove any default margin */
}

/* Responsive Styles */

.scrollable-page {
  min-height: calc(100vh - 3.75rem); /* 60px / 16 = 3.75rem */
  padding-bottom: 3.75rem; /* 60px / 16 = 3.75rem */
  box-sizing: border-box; /* Include padding in the height calculation */
}
html,
body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
}

.footer {
  background-color: #252932; /* Background color for the footer */
  color: #898fa9; /* Text color */
  padding: 1.25rem; /* Padding for the footer */
  text-align: left; /* Align text to the left */
  position: relative; /* Position relative for any absolute elements inside */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  bottom: 0; /* Stick to the bottom */
  left: 0; /* Stick to the left */
  width: 100%; /* Full width */
}

.float-start {
  margin: 0; /* Remove any default margin */
}

/* Responsive Styles */
@media (max-width: 48rem) {
  .footer {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .float-start {
    margin-bottom: 1rem;
    display: flex; /* Utiliser flexbox pour le contenu */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center;
    /* Add margin below for spacing */
  }
}

.badge {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 0.75em;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
}

.badge-danger {
  background-color: #dc3545; /* Rouge */
}

.badge-success {
  background-color: #28a745; /* Vert */
}

.badge-secondary {
  background-color: #6c757d; /* Gris */
}

.table-header {
  background-color: #007bff; /* Nouvelle couleur de fond */
  color: white; /* Couleur du texte en blanc */
  text-align: center; /* Centrer le texte */
  border-radius: 5px; /* Arrondi léger des coins */
}

.table-header th {
  padding: 15px; /* Espacement interne */
  font-size: 12px; /* Taille de la police */
  font-weight: bold; /* Mettre en gras */
}

@media (max-width: 48rem) {
  /* 768px = 48rem (en supposant que 1rem = 16px) */
  .sidebar {
    width: 15.625rem; /* 250px = 15.625rem */
    z-index: 1005;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    font-size: 0.9375rem; /* 15px = 0.9375rem */
    font-weight: 400;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05) !important; /* 10px = 0.625rem */
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05) !important;
    background: #fff;
  }
}

/* Team Header */
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; /* 24px */
}

.team-header .btn-primary {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem; /* 12px 20px */
  font-size: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.team-header .btn-primary:hover {
  background-color: #45a049;
}

/* Team Grid Layout */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 1.5rem; /* 24px */
}

.team-card {
  background: linear-gradient(135deg, #f0f0f0, #e6e6e6);
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 4px 6px */
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 1rem; /* 16px */
}

.team-card:hover {
  transform: translateY(-0.625rem); /* 10px */
}

.card-content {
  text-align: center;
}

.card-content h5 {
  margin: 0 0 0.625rem; /* 0 0 10px */
  font-size: 1.125rem; /* 18px */
  color: #333;
}

.card-content p {
  margin: 0 0 1.25rem; /* 0 0 20px */
  font-size: 0.875rem; /* 14px */
  color: #555;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 0.625rem; /* 10px */
}

.card-actions .btn {
  border: none;
  padding: 0.5rem 0.75rem; /* 8px 12px */
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  font-size: 0.875rem; /* 14px */
  transition: background-color 0.2s ease;
}

.card-actions .btn-edit {
  background-color: #2196f3;
  color: white;
}

.card-actions .btn-edit:hover {
  background-color: #1e88e5;
}

.card-actions .btn-delete {
  background-color: #f44336;
  color: white;
}

.card-actions .btn-delete:hover {
  background-color: #e53935;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 480px) {
  .team-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}

/* Base Role Styling */
.card-content .role {
  font-weight: bold;
  font-size: 0.875rem; /* 14px */
  padding: 0.25rem 0.5rem; /* 4px 8px */
  border-radius: 0.5rem; /* 8px */
  display: inline-block;
  margin-top: 0.5rem;
  text-transform: capitalize; /* Ensure roles are displayed with the first letter capitalized */
}

/* Specific Role Colors */
.card-content .role.frontend {
  background-color: #4caf50; /* Green */
  color: white;
}

.card-content .role.backend {
  background-color: #2196f3; /* Blue */
  color: white;
}

.card-content .role.manager {
  background-color: #ff9800; /* Orange */
  color: white;
}

.card-content .role.designer {
  background-color: #9c27b0; /* Purple */
  color: white;
}

.card-content .role.qa {
  background-color: #607d8b; /* Gray */
  color: white;
}

.card-content .role.default {
  background-color: #9e9e9e; /* Light Gray */
  color: white;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 3rem; /* Ajout d'un espace pour éviter l'immersion */
}

.search-bar {
  margin-bottom: 1rem; /* Ajoute un espacement sous la barre de recherche */
  position: sticky; /* Reste en haut lors du défilement */
  top: 0;
  background-color: #fff; /* Conserve un fond visible */
  z-index: 10; /* Priorité au-dessus de la grille */
}

/* Conteneur principal des messages */
.messages-container {
  display: flex;
  height: calc(100vh - 3.75rem); /* 60px -> 3.75rem */
}

/* Colonne de gauche : Liste des messages */
.message-list-container {
  flex: 1;
  max-width: 40%;
  overflow-y: auto;
  border-right: 0.0625rem solid #2f3541;
  padding: 1rem;
}

/* Colonne de droite : Zone de saisie de message */
.message-input-container {
  flex: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-group input {
  flex: 1;
  padding: 0.5rem;
  border: 0.0625rem solid #2f3541;
  border-radius: 0.25rem;
  background-color: #1c1f26;
  color: #898fa9;
}

.input-group button {
  padding: 0.5rem 1rem;
  background-color: #5b73e8;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #4a5fc1;
}

/* Styles pour les messages */
.message-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #252932;
}

.message-item.sent {
  background-color: #2f3541;
}

.message-item.received {
  background-color: #1c1f26;
}

.message-sender {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.message-content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.message-time {
  font-size: 0.75rem;
  color: #898fa9;
}

.btn-reply {
  background-color: transparent;
  border: 0.0625rem solid #5b73e8;
  color: #5b73e8;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-reply:hover {
  background-color: #5b73e8;
  color: white;
}

/* Styles pour la zone de réponse */
.reply-info {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #898fa9;
}

/* Conteneur principal des messages */
.messages-container {
  display: flex;
  height: calc(100vh - 3.75rem);
}

/* Colonne de gauche : Liste des messages */
.message-list-container {
  flex: 2;
  max-width: 60%;
  overflow-y: auto;
  border-right: 0.0625rem solid #2f3541;
  padding: 1rem;
}

/* Colonne de droite : Zone de saisie de message */
.message-input-container {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Zone de saisie de message */
.input-group {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.input-group input {
  flex: 1;
  padding: 0.75rem;
  border: 0.0625rem solid #2f3541;
  border-radius: 0.25rem;
  background-color: #1c1f26;
  color: #898fa9;
  font-size: 1rem;
}

.input-group button {
  padding: 0.75rem 1.5rem;
  background-color: #5b73e8;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.input-group button:hover {
  background-color: #4a5fc1;
}

/* Styles pour les messages */
.message-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #252932;
}

.message-item.sent {
  background-color: #2f3541;
}

.message-item.received {
  background-color: #1c1f26;
}

.message-sender {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.message-content {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.message-time {
  font-size: 0.875rem;
  color: #898fa9;
}

.btn-reply {
  background-color: transparent;
  border: 0.0625rem solid #5b73e8;
  color: #5b73e8;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-reply:hover {
  background-color: #5b73e8;
  color: white;
}

/* Styles pour la zone de réponse */
.reply-info {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #898fa9;
}

.message-list {
  display: flex;
  flex-direction: column;
}
.message-item {
  width: 70%;
  min-width: 12.5rem;
  max-width: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 1rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.message-item.sent {
  background-color: #2f3541;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  border-top-right-radius: 0;
}

.message-item.received {
  background-color: #1c1f26;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
  border-top-left-radius: 0;
}
